blinker==1.9.0
chardet==4.0.0
click==8.1.7
colorama==0.4.6
Flask==3.0.3
idna==2.10
imageio==2.34.2
imageio-ffmpeg==0.5.1
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.2
numpy==2.0.1
pillow==10.4.0
psutil==6.1.0
pywifi==1.1.12
setuptools==71.1.0
urllib3==1.26.20
Werkzeug==3.1.3
